form {
  border: 3px solid blue;
  padding: 12px 20px;
  /*text-align: center;*/
  width: 40%;
  margin: 0 auto;
  /*margin-top: 120px;*/
  background: lightgray;
}

body{
	background: lightgreen;
  
}

h1 {
	font-weight: 700;
	font-size: 5em;
	text-align: center;
	font-family: "Lato";
	padding-top: 80px;
	font-style: italic;
}

hr {
    width: 400px;
    border-top: 1px solid red;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}